.item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  padding: 0.5rem;
  border-bottom: 1px solid var(--color-grey-light);
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.2;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;

  &:hover {
    background-color: var(--color-grey-dark);
  }
}

.label-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;

  input {
    margin-right: 0.5rem;
  }

  span {
    padding-top: 0.25rem;
  }
}

.line-through {
  text-decoration: line-through;
}
