@import "../../../assets/styles/typography.scss";

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 28px;
  height: 28px;
  border: 2px solid var(--color-dark);
  border-radius: 50%;
  background-color: var(--color-white);
  @include body;
  color: var(--color-dark);
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;

  &:hover {
    background-color: var(--color-dark);
    color: var(--color-white);

    svg {
      fill: var(--color-white);
    }
  }
}
