:root {
  --color-dark: #000000;
  --color-white: #ffffff;
  --color-grey: #cccccc;
  --color-grey-light: #d6d5d5;
  --color-grey-dark: rgba(22, 137, 252, 0.05);
  --color-blue: #0f00dd;
  --color-yellow: #ffce00;
}
