@import "../../../styles/typography.scss";

.button {
  padding: 4px 16px;
  border: 2px solid var(--color-dark);
  border-radius: 4px;
  background-color: var(--color-white);
  @include body;
  color: var(--color-dark);
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;

  &:hover {
    background-color: var(--color-dark);
    color: var(--color-white);
  }
}
